header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 15px 20px;

}
#search input{
    width: 370px;
    height: 35px;
    border-radius: 40px;
    border-color: gray;
    border-color: rgb(80, 79, 79);
}
button{
    width: 100px;
    height: 25px;
    background-color: rgba(120, 186, 230, 0.562);
    border-radius: 20px;
}
#AB{
height:40px;
width: 40px;
border-radius: 40px ;
background-color: white;  
}
.cen{
    display: flex;
}
.line{
    width: 200px;
    height: 1px;
   background-color: black;
}
h2{
    font-size: 14pt;
}
body{
    height:200vh;
}
aside{
    overflow-y:auto;
    height:80vh;
    width: 250px;
}
.active{
    border-radius: 30px;
    border-color: white;
    background-color: rgb(230, 215, 215);
    height:35px;
}
main{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 20px 20px;

}
#sd{
    display: flex;
}
h3{
    margin:5px 0px;
}
p{
    margin:5px 0px;
}
.abs{
    position: relative;
}
.time1{
    position: absolute;
    top:353px;
    left: 550px;
    color:white
}